.loginCard {
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    margin-top: -80px;
    background-color: white;
}

.loginPage {
    background-image: url(./loginBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#underline-title {
    background: #7DC855;
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}