/******************************************
Book stuff
*******************************************/

.book {
    display: inline-block;
    /*box-shadow: 0 3px 5px #aaa;*/
    border-radius: 8px;
    padding: 10px 10px 0 10px;
    /*vertical-align: top;*/
    /*transition: height 1s;*/
    transition: 0.5s;
}

.book:hover {
    box-shadow: 0 0 15px #aaa;
    transition: 0.5s;
}

figure.sixteen-nine-img {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;
}

figure.sixteen-nine-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}


/*!* Position child elements relative to this element *!*/
/*.coverContainer {*/
/*    position: relative;*/
/*}*/

/*!* Create a pseudo element that uses padding-bottom to take up space *!*/
/*.coverContainer::after {*/
/*    display: block;*/
/*    content: "";*/
/*    !* 16:9 aspect ratio *!*/
/*    padding-bottom: 141%;*/
/*}*/

/*!* Image is positioned absolutely relative to the parent element *!*/
/*.coverContainer img {*/
/*    !* Image should match parent box size *!*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.cover {
    border: 2px solid gray;
    overflow: hidden;
    width: 100%;
}

.cover img {
    /*padding-top: 141%;*/
    width: 184px;
    height: 260px;
    /*width: 100%;*/
    object-fit: cover;
    /*height: 400px;*/
    /*width: 283px;*/
}


.title {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.author {
    color: #AAAAAA;
    white-space: nowrap;
    font-size: 0.9em
}

.price {
    color: #9BB6AA;
    font-size: 1.4em;
    padding-right: 8px;
}