.description {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.cartButton {
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 1.4em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px 15px;
    transition: all .5s;
}

.cartButton:hover {
    background-color: #64af3d;
}

