.page {
    padding-top: 80px;
    background-color: white;
    padding-bottom: 100px;
    min-height: 100vh;
}

.title {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.author {
    color: #AAAAAA;
    white-space: nowrap;
    font-size: 0.8em
}

.price {
    color: #9BB6AA;
    font-size: 1.6em;
    padding-right: 8px;
}